{% extends 'index.html' %}

{% load static %}

{% block head %}
<script type="text/javascript" src="{% static 'js/features/athlete.js' %}"></script>
{% endblock %}

{% block content %}
<div class="d-flex justify-content-end w-100 px-2 pt-2 mb-3">
    <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#createModal" onclick="openCreateModal()">Aggiungi</button>
</div>
<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        Tabella degli Atleti
    </div>
    <div class="card-body">
        <table id="datatablesSimple">
            <thead>
                <tr>
                    <th>Full Name</th>
                    <th>Game Partecipations</th>
                    <th>First Game</th>
                    <th>Year of Birth</th>
                    <th>Medals</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>Full Name</th>
                    <th>Game Partecipations</th>
                    <th>First Game</th>
                    <th>Year of Birth</th>
                    <th>Medals</th>
                    <th>Actions</th>
                </tr>
            </tfoot>
            <tbody>
                {% for athlete in athletes %}
                <tr>
                    <td>{{ athlete.athlete_full_name }}</td>
                    <td>{{ athlete.games_participations }}</td>
                    <td>{{ athlete.first_game }}</td>
                    <td>{{ athlete.athlete_year_birth }}</td>
                    <td>{{ athlete.athlete_medals }}</td>
                    <td>
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#updateModal" onclick="openUpdateModal('{{ athlete.id }}')">Modifica</button>
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal" onclick="openDeleteModal('{{ athlete.id }}')">Cancella</button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="createModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form id="createForm" method="post" action="{% url 'create_athlete' %}">
                {% csrf_token %}
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="createModalLabel">Creazione Atleta</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">  
                    <div class="mb-3">
                        <label for="FullnameCreate" class="form-label">Nome e Cognome</label>
                        <input class="form-control" id="FullnameCreate" type="text" name="athlete_full_name_create" placeholder="Nome e Cognome" aria-label="default input example">
                    </div>
                    <div class="mb-3">
                        <label for="NPartCreate" class="form-label">Numero di Partecipazioni</label>
                        <input class="form-control" id="NPartCreate" type="number" name="games_participations_create" placeholder="Numero di Partecipazioni" aria-label="default input example">
                    </div>
                    <div class="mb-3">
                        <label for="FirstGameCreate" class="form-label">Prima Apparizione</label>
                        <select class="form-select" aria-label="Default select example" id="FirstGameCreate" name="first_game_create">
                            <option selected> Scegli la manifestazione</option>
                            {% for host in hosts %}
                            <option value="{{ host.game_name }}"> {{ host.game_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="YearBirthCreate" class="form-label">Anno di Nascita</label>
                        <input class="form-control" id="YearBirthCreate" type="number" min="1900" max="2099" name="athlete_year_birth_create" placeholder="Anno di Nascita" aria-label="default input example">
                    </div>
                    <div class="mb-3">
                        <label for="MedalsCreate" class="form-label">Medaglie</label>
                        <input class="form-control" id="MedalsCreate" type="text" placeholder="Medaglie" name="athlete_medals_create" aria-label="default input example">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annulla</button>
                    <button type="submit" class="btn btn-success">Aggiungi</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="updateModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form id="updateForm" method="post" action="{% url 'update_athlete' %}">
            {% csrf_token %} 
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="updateModalLabel">Modifica Atleta</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="athlete_id_update" id="athleteIdInputUpdate">
                    <div class="mb-3">
                        <label for="FullnameUpdate" class="form-label">Nome e Cognome</label>
                        <input class="form-control" id="FullnameUpdate" type="text" name="athlete_full_name_update" placeholder="Nome e Cognome" aria-label="default input example">
                    </div>
                    <div class="mb-3">
                        <label for="NPartUpdate" class="form-label">Numero di Partecipazioni</label>
                        <input class="form-control" id="NPartUpdate" type="number" name="games_participations_update" placeholder="Numero di Partecipazioni" aria-label="default input example">
                    </div>
                    <div class="mb-3">
                        <label for="FirstGameUpdate" class="form-label">Prima Apparizione</label>
                        <select class="form-select" aria-label="Default select example" id="FirstGameUpdate" name="first_game_update">
                            {% for host in hosts %}
                            <option value="{{ host.game_name }}"> {{ host.game_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="YearBirthUpdate" class="form-label">Anno di Nascita</label>
                        <input class="form-control" id="YearBirthUpdate" type="number" min="1900" max="2099" name="athlete_year_birth_update" placeholder="Anno di Nascita" aria-label="default input example">
                    </div>
                    <div class="mb-3">
                        <label for="MedalsUpdate" class="form-label">Medaglie</label>
                        <input class="form-control" id="MedalsUpdate" type="text" placeholder="Medaglie" name="athlete_medals_update" aria-label="default input example">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annulla</button>
                    <button type="submit" class="btn btn-success">Modifica</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form id="deleteForm" method="post" action="{% url 'delete_athlete' %}">
                {% csrf_token %}
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="deleteModalLabel">Conferma Eliminazione</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Sei sicuro di voler eliminare questo atleta?
                    <input type="hidden" name="athlete_id_delete" id="athleteIdInputDelete">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annulla</button>
                    <button type="submit" class="btn btn-danger">Confermo</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}