{% extends 'index.html' %}

{% load static %}

{% block head %}
<script type="text/javascript" src="{% static 'js/features/athlete.js' %}"></script>
{% endblock %}

{% block content %}
<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        Tabella degli Atleti
    </div>
    <div class="card-body">
        <table id="datatablesSimple">
            <thead>
                <tr>
                    <th>Full Name</th>
                    <th>Game Partecipations</th>
                    <th>First Game</th>
                    <th>Year of Birth</th>
                    <th>Medals</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>Full Name</th>
                    <th>Game Partecipations</th>
                    <th>First Game</th>
                    <th>Year of Birth</th>
                    <th>Medals</th>
                    <th>Actions</th>
                </tr>
            </tfoot>
            <tbody>
                {% for athlete in athletes %}
                <tr>
                    <td>{{ athlete.athlete_full_name }}</td>
                    <td>{{ athlete.games_participations }}</td>
                    <td>{{ athlete.first_game }}</td>
                    <td>{{ athlete.athlete_year_birth }}</td>
                    <td>{{ athlete.athlete_medals }}</td>
                    <td>
                        <!--<button onclick="editAthlete({{ athlete.id }})" class="btn btn-primary">Edit</button>-->
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal" onclick="openDeleteModal('{{ athlete.id }}')">Cancella</button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form id="deleteForm" method="post" action="{% url 'delete_athlete' %}">
                {% csrf_token %}
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="deleteModalLabel">Conferma Eliminazione</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Sei sicuro di voler eliminare questo atleta?
                    <input type="hidden" name="athlete_id" id="athleteIdInput">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annulla</button>
                    <button type="submit" class="btn btn-danger">Confermo</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="updateModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="updateModalLabel">Modifica Atleta</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form id="updateForm" method="post" action="{% url 'update_athlete' %}">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="Fullname" class="form-label">Nome e Cognome</label>
                    <input class="form-control" id="Fullname" type="text" placeholder="Nome e Cognome" aria-label="default input example">
                </div>
                <div class="mb-3">
                    <label for="NPart" class="form-label">Numero di Partecipazioni</label>
                    <input class="form-control" id="NPart" type="number" placeholder="Numero di Partecipazioni" aria-label="default input example">
                </div>
                <div class="mb-3">
                    <label for="FirstGame" class="form-label">Prima Apparizione</label>
                    <input class="form-control" id="FirstGame" placeholder="Prima Apparizione" aria-label="default input example">
                </div>
                <div class="mb-3">
                    <label for="YearBirth" class="form-label">Anno di Nascita</label>
                    <input class="form-control" id="YearBirth" type="number" placeholder="Anno di Nascita" aria-label="default input example">
                </div>
                <div class="mb-3">
                    <label for="Medals" class="form-label">Medaglie</label>
                    <input class="form-control" id="Medals" type="text" placeholder="Medaglie" aria-label="default input example">
                </div>
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annulla</button>
          <button onclick="updateAthlete(athlete.id)" class="btn btn-primary">Modifica</button>
        </div>
      </div>
    </div>
</div>
{% endblock %}