{% extends 'index.html' %}

{% load static %}

{% block head %}
<script type="text/javascript" src="{% static 'js/features/medal.js' %}"></script>
{% endblock %}

{% block content %}
<div class="d-flex justify-content-end w-100 px-2 pt-2 mb-3">
    <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#createModal" onclick="openCreateModal()">Aggiungi</button>
</div>

<!--filter-->
<div class="row px-4 mx-auto w-100">
    <form action="{% url 'search_medal' %}" method="GET" class="mb-4 px-0" id="nationFilterForm">
        <div class="d-flex flex-column flex-sm-row gap-2">
            <input type="text" name="string_searchbar" class="form-control" placeholder="Cerca per disciplina...">
            <div class="d-flex flex-row gap-2">
                <select name="nation" class="form-select">
                    <option selected value="">Tutti i paesi</option>
                    {% for medal_nation in medal_nations %}
                    <option value="{{ medal_nation.country_name }}">{{ medal_nation.country_name }}</option>
                    {% endfor %}
                </select>
                <select name="gender" class="form-select">
                    <option selected value="">Tutti i generi</option>
                    <option value="Mixed">Misto</option>
                    <option value="Men">Uomo</option>
                    <option value="Women">Donna</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary sm:w-100">Cerca</button>
        </div>
    </form>
</div>
<!--card-->
<div class="row p-4 mx-auto w-100">
    {% if page_obj|length == 0 %}
        <div class="col-12 text-center">
            <div class="alert" role="alert">
                Nessuna medaglia trovata
            </div>
        </div>
    {% else %}
        {% for medal in page_obj %}
            <div class="col-md-6 col-lg-4 mb-4">
                <div class="bg-white rounded shadow p-4 d-flex flex-column gap-3">
                    <div class="d-flex justify-content-between align-items-center">
                        <h3 class="h5 font-weight-semibold">{{ medal.discipline_title }}</h3>
                    </div>
                    <div class="d-flex justify-content-between align-items-center">
                        {% if medal.event_gender == 'Mixed' %}
                            <span class="text-muted">Genere: Misto</span>
                        {% elif medal.event_gender == 'Men' %}
                            <span class="text-muted">Genere: Uomo</span>
                        {% elif medal.event_gender == 'Women' %}
                            <span class="text-muted">Genere: Donna</span>
                        {% endif %}
                    </div>
                    <div class="d-flex justify-content-between align-items-center">
                        <span class="text-muted">Paese: {{ medal.country_name }}</span>
                    </div>
                    <div class="d-flex gap-2">
                        <button type="button" class="btn btn-primary w-100" data-bs-toggle="modal" data-bs-target="#updateModal" onclick="openUpdateModal('{{ medal.id }}')">Modifica</button>
                        <button type="button" class="btn btn-danger w-100" data-bs-toggle="modal" data-bs-target="#deleteModal" onclick="openDeleteModal('{{ medal.id }}')">Cancella</button>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
</div>

{% if page_obj|length > 0 %}
<nav aria-label="Page navigation">
    <ul class="pagination justify-content-end p-4">
        {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?{% if request.GET.string_searchbar %}string_searchbar={{ request.GET.string_searchbar }}&{% endif %}{% if request.GET.nation %}nation={{ request.GET.nation }}&{% endif %}{% if request.GET.gender %}gender={{ request.GET.gender }}&{% endif %}page=1" aria-label="First">
                    <span aria-hidden="true">&laquo;&laquo;</span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?{% if request.GET.string_searchbar %}string_searchbar={{ request.GET.string_searchbar }}&{% endif %}{% if request.GET.nation %}nation={{ request.GET.nation }}&{% endif %}{% if request.GET.gender %}gender={{ request.GET.gender }}&{% endif %}page={{ page_obj.previous_page_number }}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <span class="page-link" aria-label="First">&laquo;&laquo;</span>
            </li>
            <li class="page-item disabled">
                <span class="page-link" aria-label="Previous">&laquo;</span>
            </li>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <li class="page-item active"><span class="page-link">{{ num }}</span></li>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                <li class="page-item"><a class="page-link" href="?{% if request.GET.string_searchbar %}string_searchbar={{ request.GET.string_searchbar }}&{% endif %}{% if request.GET.nation %}nation={{ request.GET.nation }}&{% endif %}{% if request.GET.gender %}gender={{ request.GET.gender }}&{% endif %}page={{ num }}">{{ num }}</a></li>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?{% if request.GET.string_searchbar %}string_searchbar={{ request.GET.string_searchbar }}&{% endif %}{% if request.GET.nation %}nation={{ request.GET.nation }}&{% endif %}{% if request.GET.gender %}gender={{ request.GET.gender }}&{% endif %}page={{ page_obj.next_page_number }}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?{% if request.GET.string_searchbar %}string_searchbar={{ request.GET.string_searchbar }}&{% endif %}{% if request.GET.nation %}nation={{ request.GET.nation }}&{% endif %}{% if request.GET.gender %}gender={{ request.GET.gender }}&{% endif %}page={{ page_obj.paginator.num_pages }}" aria-label="Last">
                    <span aria-hidden="true">&raquo;&raquo;</span>
                </a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <span class="page-link" aria-label="Next">&raquo;</span>
            </li>
            <li class="page-item disabled">
                <span class="page-link" aria-label="Last">&raquo;&raquo;</span>
            </li>
        {% endif %}
    </ul>
</nav>
{% endif %}


<div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="createModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <form id="createForm" method="post" action="{% url 'create_medal' %}">
                {% csrf_token %}
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="createModalLabel">Creazione Medaglia</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">  
                    <div class="mb-3">
                        <label for="DisciplineTitleCreate" class="form-label">Nome Disciplina</label>
                        <input class="form-control" id="DisciplineTitleCreate" type="text" name="discipline_title_create" placeholder="Nome Disciplina" aria-label="default input example">
                    </div>
                    <div class="mb-3">
                        <label for="SlugGameCreate" class="form-label">Manifestazione</label>
                        <select class="form-select" aria-label="Default select example" id="SlugGameCreate" name="slug_game_create">
                            <option selected> Scegli la manifestazione</option>
                            {% for host in hosts %}
                            <option value="{{ host.game_slug }}"> {{ host.game_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="EventTitleCreate" class="form-label">Nome Evento</label>
                        <input class="form-control" id="EventTitleCreate" type="text" name="event_title_create" placeholder="Nome Evento" aria-label="default input example">
                    </div>
                    <div class="mb-3">
                        <label for="EventGenderCreate" class="form-label">Categoria Evento</label>
                        <select class="form-select" id="EventGenderCreate" name="event_gender_create" aria-label="Default select example">
                            <option selected> Scegli la manifestazione</option>
                            <option value="Mixed">Misto</option>
                            <option value="Men">Uomo</option>
                            <option value="Women">Donna</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="MedalTypeCreate" class="form-label">Tipo Medaglia</label>
                        <select class="form-select" id="MedalTypeCreate" name="medal_type_create" aria-label="Default select example">
                            <option selected> Scegli la medaglia</option>
                            <option value="GOLD">Oro</option>
                            <option value="SILVER">Argento</option>
                            <option value="BRONZE">Bronzo</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="ParticipantTypeCreate" class="form-label">Tipo Partecipante</label>
                        <select class="form-select" id="ParticipantTypeCreate" name="participant_type_create" aria-label="Default select example">
                            <option selected> Scegli il tipo</option>
                            <option value="GameTeam">Squadra</option>
                            <option value="Athlete">Atleta</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="ParticipantTitleCreate" class="form-label">Nome Partecipante</label>
                        <input class="form-control" id="ParticipantTitleCreate" type="text" name="participant_title_create" placeholder="Nome Partecipante" aria-label="default input example">
                    </div>
                    <div class="mb-3">
                        <label for="AthleteNameCreate" class="form-label">Nome Atleta</label>
                        <input class="form-control" id="AthleteNameCreate" type="text" name="athlete_full_name_create" placeholder="Nome Atleta" aria-label="default input example">
                    </div>
                    <div class="mb-3">
                        <label for="CountryNameCreate" class="form-label">Nome Nazione</label>
                        <input class="form-control" id="CountryNameCreate" type="text" name="country_name_create" placeholder="Nome Nazione" aria-label="default input example">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annulla</button>
                    <button type="submit" class="btn btn-success">Aggiungi</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="updateModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form id="updateForm" method="post" action="{% url 'update_medal' %}">
            {% csrf_token %} 
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="updateModalLabel">Modifica Medaglia</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">  
                    <input type="hidden" name="medal_id_update" id="medalIdInputUpdate">
                    <div class="mb-3">
                        <label for="DisciplineTitleUpdate" class="form-label">Nome Disciplina</label>
                        <input class="form-control" id="DisciplineTitleUpdate" type="text" name="discipline_title_update" placeholder="Nome Disciplina" aria-label="default input example">
                    </div>
                    <div class="mb-3">
                        <label for="SlugGameUpdate" class="form-label">Manifestazione</label>
                        <select class="form-select" aria-label="Default select example" id="SlugGameUpdate" name="slug_game_update">
                            {% for host in hosts %}
                            <option value="{{ host.game_slug }}"> {{ host.game_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="EventTitleUpdate" class="form-label">Nome Evento</label>
                        <input class="form-control" id="EventTitleUpdate" type="text" name="event_title_update" placeholder="Nome Evento" aria-label="default input example">
                    </div>
                    <div class="mb-3">
                        <label for="EventGenderUpdate" class="form-label">Categoria Evento</label>
                        <select class="form-select" id="EventGenderUpdate" name="event_gender_update" aria-label="Default select example">
                            <option selected> Scegli la manifestazione</option>
                            <option value="Mixed">Misto</option>
                            <option value="Men">Uomo</option>
                            <option value="Women">Donna</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="MedalTypeUpdate" class="form-label">Tipo Medaglia</label>
                        <select class="form-select" id="MedalTypeUpdate" name="medal_type_update" aria-label="Default select example">
                            <option selected> Scegli la medaglia</option>
                            <option value="GOLD">Oro</option>
                            <option value="SILVER">Argento</option>
                            <option value="BRONZE">Bronzo</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="ParticipantTypeUpdate" class="form-label">Tipo Partecipante</label>
                        <select class="form-select" id="ParticipantTypeUpdate" name="participant_type_update" aria-label="Default select example">
                            <option selected> Scegli il tipo</option>
                            <option value="GameTeam">Squadra</option>
                            <option value="Athlete">Atleta</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="ParticipantTitleUpdate" class="form-label">Nome Partecipante</label>
                        <input class="form-control" id="ParticipantTitleUpdate" type="text" name="participant_title_update" placeholder="Nome Partecipante" aria-label="default input example">
                    </div>
                    <div class="mb-3">
                        <label for="AthleteNameUpdate" class="form-label">Nome Atleta</label>
                        <input class="form-control" id="AthleteNameUpdate" type="text" name="athlete_full_name_update" placeholder="Nome Atleta" aria-label="default input example">
                    </div>
                    <div class="mb-3">
                        <label for="CountryNameUpdate" class="form-label">Nome Nazione</label>
                        <input class="form-control" id="CountryNameUpdate" type="text" name="country_name_update" placeholder="Nome Nazione" aria-label="default input example">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annulla</button>
                    <button type="submit" class="btn btn-success">Modifica</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form id="deleteForm" method="post" action="{% url 'delete_medal' %}">
                {% csrf_token %}
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="deleteModalLabel">Conferma Eliminazione</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Sei sicuro di voler eliminare questo atleta?
                    <input type="hidden" name="medal_id_delete" id="medalIdInputDelete">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annulla</button>
                    <button type="submit" class="btn btn-danger">Confermo</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}