{% extends 'index.html' %}

{% load static %}

{% block head %}

{% endblock %}

{% block content %}
<!--filter-->
<div class="row px-4 mx-auto w-100">
    <form action="{% url 'search_placing' %}" method="GET" class="mb-4 px-0" id="placingFilterForm">
        <div class="d-flex flex-column flex-sm-row gap-2">
            <select name="discipline" class="form-select">
                <option selected value="">Tutti le discipline</option>
                {% for result_discipline in result_disciplines %}
                <option value="{{ result_discipline.discipline_title }}">{{ result_discipline.discipline_title }}</option>
                {% endfor %}
            </select>
            <select name="event" class="form-select">
                <option selected value="">Gli eventi disponibili</option>
                {% for result_event in result_events %}
                <option value="{{ result_event.event_title }}">{{ result_event.event_title }}</option>
                {% endfor %}
            </select>
            <select name="olimpiade" class="form-select">
                <option selected value="">Tutti le olimpiadi</option>
                {% for result_sluggame in result_sluggames %}
                <option value="{{ result_sluggame.slug_game }}">{{ result_sluggame.slug_game }}</option>
                {% endfor %}
            </select>
            <button type="submit" class="btn btn-primary sm:w-100">Cerca</button>
        </div>
    </form>
</div>


<div class="row p-4 mx-auto w-100">
    {% if page_obj|length == 0 %}
        <div class="col-12 text-center">
            <div class="alert" role="alert">
                Nessun risultato trovato
            </div>
        </div>
    {% else %}
        <div class="col-12">
            <ul class="list-group">
                {% for result in page_obj %}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <div class="d-flex align-items-center">
                            <span class="badge badge-primary badge-pill mr-3">{{ forloop.counter }}</span>
                            <div>
                                <h5 class="mb-1"> Disciplina: {{ result.discipline_title }}</h5>
                                <small>
                                    <br>
                                    Evento: {{ result.event_title }}
                                    <br>
                                    Olimpiade: {{ result.slug_game }}
                                    <br>
                                    Posizione: {{ result.rank_position }}
                                    <br>
                                    Paese: {{ result.country_name }}
                                    <br>
                                </small>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
</div>

{% if page_obj|length > 0 %}
<nav aria-label="Page navigation">
    <ul class="pagination justify-content-end p-4">
        {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="/placing?page=1{% if request.GET.discipline %}&discipline={{ request.GET.discipline }}{% endif %}{% if request.GET.event %}&event={{ request.GET.event }}{% endif %}{% if request.GET.olimpiade %}&olimpiade={{ request.GET.olimpiade }}{% endif %}" aria-label="First">
                    <span aria-hidden="true">&laquo;&laquo;</span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="/placing?page={{ page_obj.previous_page_number }}{% if request.GET.discipline %}&discipline={{ request.GET.discipline }}{% endif %}{% if request.GET.event %}&event={{ request.GET.event }}{% endif %}{% if request.GET.olimpiade %}&olimpiade={{ request.GET.olimpiade }}{% endif %}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <span class="page-link" aria-label="First">&laquo;&laquo;</span>
            </li>
            <li class="page-item disabled">
                <span class="page-link" aria-label="Previous">&laquo;</span>
            </li>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <li class="page-item active"><span class="page-link">{{ num }}</span></li>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                <li class="page-item"><a class="page-link" href="/placing?page={{ num }}{% if request.GET.discipline %}&discipline={{ request.GET.discipline }}{% endif %}{% if request.GET.event %}&event={{ request.GET.event }}{% endif %}{% if request.GET.olimpiade %}&olimpiade={{ request.GET.olimpiade }}{% endif %}">{{ num }}</a></li>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="/placing?page={{ page_obj.next_page_number }}{% if request.GET.discipline %}&discipline={{ request.GET.discipline }}{% endif %}{% if request.GET.event %}&event={{ request.GET.event }}{% endif %}{% if request.GET.olimpiade %}&olimpiade={{ request.GET.olimpiade }}{% endif %}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="/placing?page={{ page_obj.paginator.num_pages }}{% if request.GET.discipline %}&discipline={{ request.GET.discipline }}{% endif %}{% if request.GET.event %}&event={{ request.GET.event }}{% endif %}{% if request.GET.olimpiade %}&olimpiade={{ request.GET.olimpiade }}{% endif %}" aria-label="Last">
                    <span aria-hidden="true">&raquo;&raquo;</span>
                </a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <span class="page-link" aria-label="Next">&raquo;</span>
            </li>
            <li class="page-item disabled">
                <span class="page-link" aria-label="Last">&raquo;&raquo;</span>
            </li>
        {% endif %}
    </ul>
</nav>
{% endif %}
{% endblock %}